<nb-card [accent]="isComplete === false ? 'warning' : 'info'">
  <form (ngSubmit)="editTask(id, f)" #f="ngForm">
    <nb-card-header class="card-header">
      <input
        name="title"
        type="text"
        fieldSize="small"
        placeholder="Title"
        [defaultValue]="title"
        [(ngModel)]="title"
        class="title-area"
        maxlength="200"
        required
      />
      <div class="action-items" *ngIf="isComplete === false">
        <button nbButton type="submit">
          <nb-icon icon="edit"></nb-icon>
        </button>
        <button
          nbButton
          type="button"
          class="margin-left-sm"
          (click)="deleteTask(id)"
        >
          <nb-icon icon="trash"></nb-icon>
        </button>
        <button
          nbButton
          type="button"
          class="margin-left-sm"
          (click)="closeTask(id)"
        >
          <nb-icon icon="checkmark"></nb-icon>
        </button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <textarea
        name="description"
        placeholder="Description"
        class="description-area margin-top-md"
        [defaultValue]="description"
        [(ngModel)]="description"
      ></textarea>
    </nb-card-body>
  </form>
</nb-card>
