<nb-card [accent]="isComplete ? 'info' : 'danger'">
  <form action="">
    <nb-card-header class="card-header">
      <input
        type="text"
        fieldSize="small"
        placeholder="Title"
        [defaultValue]="title"
        class="title-area"
        maxlength="200"
        required
      />
      <div class="action-items">
        <button>
          <nb-icon icon="edit"></nb-icon>
        </button>
        <button class="margin-left-sm" (click)="deleteTask(id)">
          <nb-icon icon="trash"></nb-icon>
        </button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <textarea
        placeholder="Description"
        class="description-area margin-top-sm"
        [defaultValue]="description"
      ></textarea>
    </nb-card-body>
  </form>
</nb-card>
