.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .action-items {
    width: 150px;
  }
}

.title-area,
.description-area {
  border: none;
}

.title-area {
  font-weight: 600;
  overflow: visible;
  overflow-block: clip;
  height: auto;
  width: 100%;
}

.margin-top-md {
  margin-top: 12px;
}

.margin-left-sm {
  margin-left: 8px;
}
